/* index page */

@media only screen and (max-width: 480px) {
    html {
        font-size: 8px;
    }
    .top-features {
        flex-direction: column;
        /* padding: 1rem; */
    }
    .feature {
        width: 100%;
        margin-bottom: 1rem;
    }
    .feature img {
        width: 100%;
    }
    .header {
        flex-direction: column;
    }
    .header .about-us-content {
        width: 100%;
    }
    .header .featured-images {
        width: 100%;
        /* object-fit: cover;
        display: none; */
    }
    .testimonial {
        flex-direction: column;
    }
    .testimonial .testimonial-image img {
        width: 100%;
        height: 10rem;
        border-radius: 50%;
    }
    .testimonial .testimonial-content {
        width: 100%;
    }
    .slider-left-btn i {
        width: 14%;
        height: 40px;
        left: -2.6rem;
    }
    .slider-right-btn i {
        width: 14%;
        height: 40px;
        left: -2rem;
    }
}


/* About US page */


/* introduction  page */


/* team page */

@media only screen and (max-width: 480px) {
    html {
        font-size: 7px;
    }
    .team-members {
        flex-direction: column;
    }
    .member {
        width: 100%;
    }
    .member img {
        height: 40rem;
    }
}


/* blog page */

@media only screen and (max-width: 480px) {
    .blog {
        background-color: #fff;
    }
    /* .blogs {
        flex-direction: column;
    } */
    .blog-lists {
        width: 100%;
    }
    .recent-posts {
        width: 100%;
    }
    /* .recent-post {
        flex-direction: row;
        width: 100%;
    } */
}


/* blog-details */


/* gallery-album  page */

@media only screen and (max-width: 480px) {
    .album {
        width: 48%;
    }
    .album:nth-child(2n) {
        margin-right: 0%;
    }
    .album img {
        height: 20rem;
        object-fit: cover;
    }
}


/* inside gallery page */


/* contact PAge */

@media only screen and (max-width: 480px) {
    .contact-methods .contact-method i {
        padding: -1rem 0rem;
    }
}